*
{
  padding: 0;
  margin: 0;
}

body
{
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #ddd;
}

#espaco
{
  width: 400px;
  height: 400px;

  position: relative;

  background-color: #000;
}

#M1
{
  width: 10px;
  height: 10px;

  position: absolute;

  top: 300px;
  left: 45px;

  background-color: red;
}

#M2
{
  width: 10px;
  height: 10px;

  position: absolute;

  top: 200px;
  left: 145px;

  background-color: yellow;
}

#M3
{
  width: 10px;
  height: 10px;

  position: absolute;

  top: 150px;
  left: 245px;

  background-color: green;
}

#M4
{
  width: 10px;
  height: 10px;

  position: absolute;

  top: 50px;
  left: 345px;

  background-color: blue;
}